{% extends 'base.html' %}

{% block title %}Forms — Formdata{% endblock %}

{% block content %}
<div class="page flex flex-col min-h-[calc(100vh-8rem)] animate-slide-up" id="page-project"
    x-data="{ activeTab: '{{ active_tab }}' }">
    {% include 'partials/form_nav.html' %}

    <div id="tab-content" class="space-y-4 ">

        {% include active_tab_template %}
    </div>
    <!-- "grow" forces it to stretch to the remaining space. "w-full" ensures it spans the remaining width -->
    <div class="flex flex-col flex-1 grow w-full items-center justify-center p-8">
        {% with id="form-loader", size="h-16 w-16", text=false, overlay=false %}
        {% include 'partials/loading.html' %}
        {% endwith %}
    </div>


</div>
{% endblock %}