<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Formdata — Form Backend for Builders</title>

    <link rel="stylesheet" href="{{ url_for('static', path='/css/output.css') }}">
</head>

<body class="antialiased bg-gray-50 text-gray-800 ">
    <div class="flex flex-col min-h-screen ">
        {% include 'partials/navbar.html' %}
        {% include 'partials/hero.html' %}
        {% include 'partials/how_it_works.html' %}
        {% include 'partials/features.html' %}
        {% include 'partials/pricing.html' %}
        {% include 'partials/faqs.html' %}
        {% include 'partials/footer.html' %}
    </div>

    <script>
        document.getElementById("yr").textContent = new Date().getFullYear();
    </script>
</body>

</html>