<!DOCTYPE html>
<html>

<head>
    {% include 'partials/head_shim.html' %}
    <title>Widget Test</title>
</head>

<body>

    <h2>Contact Form</h2>

    <form action="https://e8ea-116-73-141-40.ngrok-free.app/f/Tyv8P05l" method="POST">
        <input type="email" name="email" placeholder="Email" required />
        <textarea name="message" placeholder="Message" required></textarea>

        <!-- Optional honeypot generated for this form -->
        <input type="text" name="gotcha" tabindex="-1" autocomplete="off" aria-hidden="true"
            style="position:absolute;left:-9999px" />

        <button type="submit">Send message</button>
    </form>
</body>

</html>