<!DOCTYPE html>
<html>

<head>
    <title>Widget Test</title>
</head>

<body>

    <h2>Contact Form</h2>

    <form data-form-id="frm_demo1" data-form-action="http://localhost:8000">

        <input name="name" placeholder="Name" required>

        <br>

        <input name="email" type="email" placeholder="Email" required>

        <br>

        <textarea name="message" placeholder="Message" required></textarea>

        <br>
        <button type="submit">
            Send
        </button>

    </form>
    <script src="/static/widget/widget.js" defer></script>

</body>

</html>