<!DOCTYPE html>
<html>

<head>
    <title>Widget Test</title>
</head>

<body>

    <h2>Contact Form</h2>

    <form action="http://localhost:8000/f/-Re1PwWI" method="POST" enctype="multipart/form-data">

        <input type="email" name="email" placeholder="Email" required />

        <input name="files" type="file" accept="image/*, .pdf" multiple>

        <textarea name="message" placeholder="Message" required></textarea>

        <!-- Honeypot -->
        <input type="text" name="_gotcha" style="display:none" tabindex="-1" autocomplete="off" />
        <!-- Cloudflare Turnstile Widget -->
        <div class="cf-turnstile" data-sitekey="1x00000000000000000000AA"></div>

        <button type="submit">Send</button>

    </form>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

</body>

</html>